<div class="container home">
  <div class="container" fxLayout fxLayout.xs="column">
    <div fxFlex="25" fxFlex.xs="100%">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="stat-title">Total Count</mat-card-title>
          <mat-card-subtitle>Accumulated</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="stat-value">{{totalAccessCount}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25" fxFlex.xs="100%">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="stat-title">Current Connections</mat-card-title>
          <mat-card-subtitle>Session Agnostic</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="stat-value">{{currentUserCount}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25" fxFlex.xs="100%">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="stat-title">Master Node</mat-card-title>
          <mat-card-subtitle>Identifier</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="stat-value">{{currentMasterIdentifier}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="25" fxFlex.xs="100%">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="stat-title">Node Count</mat-card-title>
          <mat-card-subtitle>All Gateway Nodes</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="stat-value">{{currentNodeCount}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="container">
    <ngx-datatable
      class="material"
      [rows]="rows"
      [columns]="columns"
      [rowHeight]="50"
      [headerHeight]="50"
      [footerHeight]="50"
      [loadingIndicator]="isTableLoading"
      [scrollbarH]="true"
      [externalPaging]="true"
      [limit]="itemCountPerPage"
      [count]="totalItemCount"
      [offset]="currentPageOffset"
      (page)='onPageChange($event)'>
    ></ngx-datatable>
  </div>
</div>
