<nav class="app-navbar">
  <a mat-button routerLink="/" aria-label="go-ref">
    <img class="app-navbar-logo"
         src="../../../../assets/img/gopher-navbar.png"
         alt="angular">
    <span>Goref</span>
  </a>

  <a mat-button routerLink="/home" aria-label="home">
    <span>Home</span>
  </a>

  <a mat-button routerLink="/location" aria-label="location">
    <span>Location</span>
  </a>

  <div class="flex-spacer"></div>

  <div *ngIf="sessionID">
    <mat-chip-list>
      <mat-chip class="session-chip" color="accent" selected="true">
        <span class="session-text" matTooltip="Session ID">{{sessionID}}</span>
      </mat-chip>
    </mat-chip-list>
  </div>


  <a mat-button target="_blank" href="https://github.com/1ambda/go-ref" aria-label="GitHub Repository">
    <img class="app-navbar-github-logo"
         src="../../../../assets/img/github-circle-white-transparent.svg"
         alt="GitHub">
    Github
  </a>
</nav>
